.menu {
    grid-area: lateral;

    width: 100px;
    min-width: 100px;
    height: 100vh;
    z-index: 999;

    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--white);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin: 0;
    padding: 2rem 0;

    border-right: 1px solid var(--gray-line);
}

.menu .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 120px;

    position: relative;
    box-sizing: content-box;
    padding-bottom: 5rem;
    margin: auto 0;

}

.icons svg {
    width: 2rem;
    height: auto;
    color: var(--text);
}

.menu img { 
    width: 3rem;
    height: auto;
}

@media (max-width: 650px) {
    .menu {
        grid-area: lateral;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 100vw;
        height: 100px;

        padding: 0 3rem;

        border-right: none;
        border-bottom: 1px solid var(--gray-line);
    }

    .menu .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        width: 120px;

        padding: 0;
        margin: 0;
    }
}